<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>Single Post</title>
</head>

<body>
  <h1>Single post page</h1>

  <%- include('./partials/navbar.ejs') %>

  <hr>
  <div class="singlepost">

    <div class="singlepostpagediv">
      <div class="singlepostheader">
        <img src="https://img.tineye.com/result/def15e8db87d742ae39a15dc62c55e877f88b7f7c058a6bb108f95f2df471605?size=160" class="singlepostprofile" width="45px" height="45px">
        <p class="singlepostauthor"><%= post.author %></p>
        <p class="singlepostdate"><%= post.timestamp %></p>
      </div>

    <% if (post.urllink != "") { %>
      <img class="singlepostimage" src=<%= post.urllink %>>
    <% } %>
    <h2><%= post.title %></h2>
    <div class="content">
      <p> <%= post.body %> </p>
      <p>Likes: <%= post.likes_count %> </p>
    </div>

    <form action="/deletepost/<%= post.id %>" method="POST">
      <button>Delete this post</button>
    </form>

  </div>
</div>
<hr>
<%- include('./partials/footer.ejs') %>

</body>
</html>
